<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home Page</title>
   <link rel="stylesheet" href="view.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

</head>
<body>
  <button class="top-right-button"><a href="../../homepage/home.html">Exit</a></button>

   <nav class="navbar">
    <div class="hamburger" id="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      
      <a href="../home/home.html"><i class="fas fa-home"></i></a>
        <a href="../update/home.html">update</a>
        <a href="../view/view.html">View Job Postings</a>
        <a href="../like/view.html"><i class="fas fa-map-pin fa-lg"></i></a>
  
     
     
   </nav>
   
   <div class="banner">
    <img id="bannerImage" src="" alt="Banner">
 </div>
 <div class="sidebar ">
   
    <div id="filterSection" class="sidebar-content ">
      <h2>Filter Job Postings</h2>
      <div id="areaFilter">
        <h3>Areas:</h3>
        <div id="areas">
          <input type="checkbox" id="checkboxAll" name="areas" value="all">
          <label for="checkboxAll">all areas</label><br>
        </div>
        <!-- Add checkboxes for areas here -->
      </div>
      <div id="professionFilter">
        <h3>Professions:</h3>
        <div id="pros">
          <input type="checkbox" id="checkboxAll" name="pros" value="all">
          <label for="checkboxAll">all proffessions</label><br>
        </div>
        <!-- Add checkboxes for professions here -->
      </div>
      <div id="dateFilter">
        <h3>Date:</h3>
        <input type="date" id="filterDate">
      </div>
      <button id="applyFilterBtn">Apply Filter</button>
    </div>
  </div>
   <!-- Add a container for job postings and pagination controls -->
<div id="jobPostingsContainer">
    <div id="jobPostings"></div>
    <div id="paginationControls">
        <button id="prevPage" >Previous</button>
        <span id="currentPage">Page 1</span>
        <button id="nextPage" >Next</button>
    </div>
</div>
  

</body>

<script src="../../helpFunctions/generalFunctions.js"></script>
<script src="../../helpFunctions/settings.js"></script>
  <!-- Link to jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Link to your JavaScript file -->
   <script src="view.js"></script>
</html>
